<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      Bulk User Upload
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <p-fileUpload (uploadHandler)="myUploader($event)"
                [customUpload]="true"
                [fileLimit]="1"
                accept=".csv"
                chooseLabel="ADD BULK USERS"
                name="myfile[]" styleClass="p-button-rounded"></p-fileUpload>
</div>






