<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      Bulk User Upload
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
        <p-fileUpload name="myfile[]"
                      accept=".csv"

                      fileLimit="1"
                      customUpload="true"
                      (uploadHandler)="myUploader($event)"
                      styleClass="p-button-rounded" chooseLabel="ADD BULK USERS"></p-fileUpload>
</div>






