<p-confirmDialog header="Confirmation"
                 icon="pi pi-exclamation-triangle"
                 key="ce-100"></p-confirmDialog>

<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      Edit Book
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>

  <div class="container mt-4">

    <form (ngSubmit)="onEditBookSubmit()" [formGroup]="bookEditForm">
      <mat-label class="text-color-01-b">Grade*</mat-label>
      <input
        [ngClass]="{ 'p-invalid' : !bookEditForm.controls['grade'].valid && bookEditForm.controls['grade'].touched}"
        class="p-inputtext-sm w-100 mt-2"
        formControlName="grade"
        id="grade"
        pInputText type="text">
      <div>
        <val-errors controlName="grade">
          <ng-template valError="required"><small class="p-invalid ms-3">Grade is required</small>
          </ng-template>
        </val-errors>
      </div>

      <p></p>
      <div *ngIf="initialLoad;else newImage">
        <p></p>
        <mat-label class="text-color-01-b"> Current marker url</mat-label>
        <div class="d-flex align-items-center mt-2">
          <input
            [value]="bookModel.image"
            class="p-inputtext-sm w-100 mt-2"
            id="current-marker-img"
            pInputText type="text">

          <button (click)="$event.preventDefault();onRemoveCurrentImageClick()"
                  color="warn"
                  mat-icon-button matTooltip="Remove Current Image" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <p></p>
      <mat-label class="text-color-01-b">Medium*</mat-label>
      <input
        [ngClass]="{ 'p-invalid' : !bookEditForm.controls['medium'].valid && bookEditForm.controls['medium'].touched}"
        class="p-inputtext-sm w-100 mt-2"
        formControlName="medium"
        id="medium"
        pInputText type="text">
      <div>
        <val-errors controlName="medium">
          <ng-template valError="required"><small class="p-invalid ms-3">Medium is required</small>
          </ng-template>
        </val-errors>
      </div>

      <p></p>
      <mat-label class="text-color-01-b">Name*</mat-label>
      <input
        [ngClass]="{ 'p-invalid' : !bookEditForm.controls['name'].valid && bookEditForm.controls['name'].touched}"
        class="p-inputtext-sm w-100 mt-2"
        formControlName="name"
        id="name"
        pInputText type="text">
      <div>
        <val-errors controlName="name">
          <ng-template valError="required"><small class="p-invalid ms-3">Name is required</small>
          </ng-template>
        </val-errors>
      </div>

      <p></p>
      <mat-label class="text-color-01-b">Price*</mat-label>
      <input
        [ngClass]="{ 'p-invalid' : !bookEditForm.controls['name'].valid && bookEditForm.controls['price'].touched}"
        class="p-inputtext-sm w-100 mt-2"
        formControlName="price"
        id="price"
        pInputText type="text">
      <div>
        <val-errors controlName="price">
          <ng-template valError="required"><small class="p-invalid ms-3">Price is required</small>
          </ng-template>
        </val-errors>
      </div>

      <p></p>
      <mat-label class="text-color-01-b">Subject*</mat-label>
      <p-dropdown
        [filter]="true"
        [options]="subjects"
        [required]="true" [showClear]="true" appendTo="body" filterBy="name"
        formControlName="subjectId"
        optionLabel="name"
        optionValue="id"
        placeholder="Select a Subject*"
        styleClass="p-inputtext-sm w-100 p-invalid ms-1 mt-2">

        <ng-template pTemplate="selectedSubject">
          <div class="country-item country-item-value">
            <div>{{ bookEditForm.controls['subjectId'].value }}</div>
          </div>
        </ng-template>

        <ng-template let-subject pTemplate="item">
          <div class="country-item">
            <div>{{ subject.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <div>
        <val-errors controlName="bookId" label="The book Id">
          <ng-template valError="required"><small class="p-invalid ms-3">The book is required</small></ng-template>
        </val-errors>
      </div>


      <div class="text-center mt-5 mb-5">
        <button class="mat-button-rounded-sm" color="primary" mat-raised-button> Submit</button>
      </div>

    </form>
  </div>
</div>


<ng-template #newImage>
  <p></p>
  <div class="row">
    <div class="col-sm-6">
      <label class="ms-3"> Marker Image </label>
      <div class="d-flex justify-content-between align-items-center">
        <p-fileUpload #ff (onSelect)="onBasicUpload($event)" [customUpload]="true" [fileLimit]="1" mode="basic"
                      name="demo[]"
                      styleClass="m-2">
        </p-fileUpload>
        <button (click)="ff.clear();onImageRemoveClick()" color="warn" mat-icon-button type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div>
        <small *ngIf="!image" class="p-invalid ms-3">The image is required</small>
      </div>
    </div>
  </div>
</ng-template>

