<p-table #dt1 [loading]="loading" [paginator]="true"
         [rowsPerPageOptions]="[10,25,50]"
         [rows]="10"
         [showCurrentPageReport]="true"
         [value]="users"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         styleClass="p-datatable-sm p-datatable-responsive-demo">

  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <!--      <div class="p-input-icon-left">-->
      <!--        <i class="pi pi-search"></i>-->
      <!--        <input (input)="dt1.filterGlobal(searchInputData, 'contains')"-->
      <!--               [(ngModel)]="searchInputData" pInputText-->
      <!--               placeholder="Search keyword"-->
      <!--               matTooltip="Search from table"-->
      <!--               class="p-inputtext-sm"-->
      <!--               type="text"/>-->
      <!--      </div>-->
      <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
      <!--      <button mat-icon-button color="primary" (click)="op.toggle($event)">-->
      <!--        <mat-icon>filter_alt</mat-icon>-->
      <!--      </button>-->


    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        Email
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Email-->
        <!--          <p-columnFilter display="menu" field="email" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        First Name
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          First Name-->
        <!--          <p-columnFilter display="menu" field="firstName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Last Name
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Last Name-->
        <!--          <p-columnFilter display="menu" field="lastName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Contact No
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Contact No-->
        <!--          <p-columnFilter display="menu" field="telephoneNumber" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Status
        <!--        <div class="p-d-flex p-jc-between p-ai-center" matTooltip="User active status">-->
        <!--          Status-->
        <!--          <p-columnFilter display="menu" field="active" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th matTooltip="Subscription Count">
        Sub. Count
        <!--        <div class="p-d-flex p-jc-between p-ai-center" matTooltip="Subscription Count">-->
        <!--          Sub. Count-->
        <!--          <p-columnFilter display="menu" field="subscriptionCount" type="number"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Role
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Role-->
        <!--          <p-columnFilter display="menu" field="role" type="number"></p-columnFilter>-->
        <!--        </div>-->
      </th>
    </tr>
  </ng-template>
  <ng-template let-user pTemplate="body">
    <tr>
      <td>{{user.email}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.telephoneNumber}}</td>
      <td>{{user.active}}</td>
      <td>{{user.subscriptionCount}}</td>
      <td>{{user.role}}</td>
      <td>
        <button (click)="openUserViewDialog(user.id)" color="primary" mat-mini-fab matTooltip="View More"><i class="fas fa-eye"></i></button>
        <button (click)="openManageSubDialog(user.id)" color="primary" mat-mini-fab class="ms-2"
                matTooltip="Add Subscription">
          <i class="fas fa-book-medical"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<ng-template #filterTemplate>
  <form (ngSubmit)="onFilterApply()" [formGroup]="filterForm">
    <div class="d-flex justify-content-center">
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="district" id="district" pInputText type="text">
        <label for="district">District</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="school" id="school" pInputText type="text">
        <label for="school">School</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="subject" id="subject" pInputText type="text">
        <label for="subject">Subject</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="grade" id="grade" pInputText type="text">
        <label for="grade">Grade</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="salesLead" id="salesLead" pInputText type="text">
        <label for="salesLead">Sales Lead</label>
      </div>
      <div class="text-center">
        <button class="mat-button-rounded m-1" color="primary" mat-raised-button>
          <i class="fas fa-search me-2"></i> Search
        </button>
      </div>
    </div>
  </form>
</ng-template>

