<!--<p-table #dt1-->
<!--         [globalFilterFields]="['email','firstName','lastName','telephoneNumber','active','subscriptionCount','role']"-->
<!--         [loading]="loading"-->
<!--         [paginator]="true"-->
<!--         [rowHover]="true"-->
<!--         [scrollable]="true"-->
<!--         [rowsPerPageOptions]="[10,25,50]"-->
<!--         [rows]="10"-->
<!--         [value]="users"-->
<!--         [autoLayout]="true"-->
<!--         [tableStyle]="{'table-layout':'auto'}"-->
<!--         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"-->
<!--&gt;-->


<!--  <ng-template pTemplate="caption">-->
<!--    <div class="mb-2">-->
<!--      <div class="p-input-icon-left">-->
<!--        <i class="pi pi-search"></i>-->
<!--        <input (input)="dt1.filterGlobal(searchInputData, 'contains')"-->
<!--               [(ngModel)]="searchInputData" class="p-inputtext-sm"-->
<!--               matTooltip="Search from table"-->
<!--               pInputText-->
<!--               placeholder="Search keyword"-->
<!--               type="text"/>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-between align-items-center mt-2">-->
<!--        <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--&lt;!&ndash;  <ng-template pTemplate="colgroup">&ndash;&gt;-->
<!--&lt;!&ndash;    <colgroup>&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;      <col style="width:auto">&ndash;&gt;-->
<!--&lt;!&ndash;    </colgroup>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-template>&ndash;&gt;-->


<!--  <ng-template pTemplate="header">-->
<!--    <tr>-->
<!--      <th pResizableColumn>-->
<!--        Email-->
<!--      </th>-->
<!--      <th pResizableColumn>-->
<!--        First Name-->
<!--      </th>-->
<!--      <th pResizableColumn>-->
<!--        Last Name-->
<!--      </th>-->
<!--      <th pResizableColumn>-->
<!--        Contact No-->
<!--      </th>-->
<!--      <th pResizableColumn>-->
<!--        Status-->
<!--      </th>-->
<!--      <th pResizableColumn matTooltip="Subscription Count">-->
<!--        Sub. Count-->
<!--      </th>-->
<!--      <th pResizableColumn>-->
<!--        Role-->
<!--      </th>-->
<!--    </tr>-->
<!--  </ng-template>-->

<!--  <ng-template let-user pTemplate="body">-->
<!--    <tr>-->
<!--      <td class="ui-resizable-column">{{user.email}}</td>-->
<!--      <td class="ui-resizable-column">{{user.firstName}}</td>-->
<!--      <td class="ui-resizable-column">{{user.lastName}}</td>-->
<!--      <td class="ui-resizable-column">{{user.telephoneNumber}}</td>-->
<!--      <td class="ui-resizable-column" (click)="onUserStatusEditClick(user)" matTooltip="Click to edit user status" style="cursor: pointer">-->
<!--        <span *ngIf="user.active;else falseContent" class="alert alert-success p-1"> True </span>-->

<!--      </td>-->
<!--      <td class="ui-resizable-column">{{user.subscriptionCount}}</td>-->
<!--      <td class="ui-resizable-column">{{user.role}}</td>-->
<!--      <td class="ui-resizable-column">-->
<!--        <button (click)="openUserViewDialog(user.id)" color="primary" mat-mini-fab matTooltip="View More"><i-->
<!--          class="fas fa-eye"></i></button>-->
<!--        <button (click)="openManageSubDialog(user)" class="ms-2" color="primary" mat-mini-fab-->
<!--                matTooltip="Add Subscription">-->
<!--          <i class="fas fa-book-medical"></i>-->
<!--        </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-table>-->


<ng-template #filterTemplate>
  <form (ngSubmit)="onFilterApply()" [formGroup]="filterForm">
    <div class="d-flex justify-content-center align-content-center">
      <p-dropdown
        [filter]="true"
        [options]="subjects"
        [showClear]="true"
        appendTo="body"
        filterBy="name"
        formControlName="subject"
        optionLabel="name"
        optionValue="name"
        placeholder="Select a Subject*"
        styleClass="p-inputtext-sm w-100 mt-1">

        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value">
            <div>{{filterForm.controls['subject'].value}}</div>
          </div>
        </ng-template>

        <ng-template let-grade pTemplate="item">
          <div class="country-item">
            <div>{{grade.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <!--      <p-dropdown-->
      <!--        [filter]="true"-->
      <!--        [options]="schools"-->
      <!--        [showClear]="true" appendTo="body" filterBy="name"-->
      <!--        formControlName="school"-->
      <!--        optionLabel="name"-->
      <!--        placeholder="Select a School*"-->
      <!--        styleClass="p-inputtext-sm w-100">-->

      <!--        <ng-template pTemplate="selectedItem">-->
      <!--          <div class="country-item country-item-value">-->
      <!--            <div>{{filterForm.controls['subject'].value.name}}</div>-->
      <!--          </div>-->
      <!--        </ng-template>-->

      <!--        <ng-template let-grade pTemplate="item">-->
      <!--          <div class="country-item">-->
      <!--            <div>{{grade.name}}</div>-->
      <!--          </div>-->
      <!--        </ng-template>-->
      <!--      </p-dropdown>-->

      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="district" id="district" pInputText type="text">
        <label for="district">District</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="school" id="school" pInputText type="text">
        <label for="school">School</label>
      </div>
      <!--      <div class="p-float-label m-1">-->
      <!--        <input class="p-inputtext-sm" formControlName="subject" id="subject" pInputText type="text">-->
      <!--        <label for="subject">Subject</label>-->
      <!--      </div>-->
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="grade" id="grade" pInputText type="text">
        <label for="grade">Grade</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="salesLead" id="salesLead" pInputText type="text">
        <label for="salesLead">Sales Lead</label>
      </div>
      <div class="text-center">
        <button class="mat-button-rounded m-1" color="primary" mat-raised-button>
          <i class="fas fa-search me-2"></i> Search
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #falseContent>
  <span class="alert alert-danger p-1"> False </span>
</ng-template>



<!--<ag-grid-angular-->
<!--  style="width: 100%;height: 70vh"-->
<!--  class="ag-theme-alpine"-->
<!--  [rowData]="users"-->
<!--  [columnDefs]="columnDefs"-->
<!--&gt;-->
<!--</ag-grid-angular>-->

<!--<form>-->
<!--          <input class="p-inputtext-sm"-->
<!--                 [formControl]="filter"-->
<!--                 matTooltip="Search from table"-->
<!--                 placeholder="Search keyword"-->
<!--                 type="text"/>-->
<!--&lt;!&ndash;  <div class="form-group form-inline">&ndash;&gt;-->
<!--&lt;!&ndash;    Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</form>-->


      <div class="d-flex justify-content-between align-items-center mt-2">
        <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
      </div>

  <table class="table table-striped">
    <thead>
    <tr>
            <th>
              Email
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Contact No
            </th>
            <th>
              Status
            </th>
            <th matTooltip="Subscription Count">
              Sub. Count
            </th>
            <th>
              Role
            </th>
          </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
            <td class="ui-resizable-column">{{user.email}}</td>
            <td class="ui-resizable-column">{{user.firstName}}</td>
            <td class="ui-resizable-column">{{user.lastName}}</td>
            <td class="ui-resizable-column">{{user.telephoneNumber}}</td>
            <td class="ui-resizable-column" (click)="onUserStatusEditClick(user)" matTooltip="Click to edit user status" style="cursor: pointer">
              <span *ngIf="user.active;else falseContent" class="alert alert-success p-1"> True </span>

            </td>
            <td class="ui-resizable-column">{{user.subscriptionCount}}</td>
            <td class="ui-resizable-column">{{user.role}}</td>
            <td class="ui-resizable-column">
              <button (click)="openUserViewDialog(user.id.toString())" color="primary" mat-mini-fab matTooltip="View More"><i
                class="fas fa-eye"></i></button>
              <button (click)="openManageSubDialog(user)" class="ms-2" color="primary" mat-mini-fab
                      matTooltip="Add Subscription">
                <i class="fas fa-book-medical"></i>
              </button>
            </td>

    </tr>
    </tbody>
  </table>
