<p-table #dt1
         [globalFilterFields]="['email','firstName','lastName','telephoneNumber','active','subscriptionCount','role']"
         [loading]="loading"
         [value]="users"
         [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [scrollable]="true"
         [resizableColumns]="true"
         styleClass="p-datatable-gridlines"
>


  <ng-template pTemplate="caption">
    <div class="mb-2">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input (input)="dt1.filterGlobal(searchInputData, 'contains')"
               [(ngModel)]="searchInputData" class="p-inputtext-sm"
               matTooltip="Search from table"
               pInputText
               placeholder="Search keyword"
               type="text"/>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="colgroup">
    <colgroup>
      <col style="width:25%">
      <col style="width:15%">
      <col style="width:35%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">
    </colgroup>
  </ng-template>


  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>
        Email
      </th>
      <th pResizableColumn>
        First Name
      </th>
      <th pResizableColumn>
        Last Name
      </th>
      <th pResizableColumn>
        Contact No
      </th>
      <th pResizableColumn>
        Status
      </th>
      <th pResizableColumn matTooltip="Subscription Count">
        Sub. Count
      </th>
      <th pResizableColumn>
        Role
      </th>
    </tr>
  </ng-template>

  <ng-template  pTemplate="body"  let-user>
    <tr>
      <td>{{user.email}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.telephoneNumber}}</td>
      <td matTooltip="Click to edit user status" style="cursor: pointer" (click)="onUserStatusEditClick(user)">
        <span  *ngIf="user.active;else falseContent"  class="alert alert-success p-1"> True </span>

      </td>
      <td>{{user.subscriptionCount}}</td>
      <td>{{user.role}}</td>
      <td>
        <button (click)="openUserViewDialog(user.id)" color="primary" mat-mini-fab matTooltip="View More"><i
          class="fas fa-eye"></i></button>
        <button (click)="openManageSubDialog(user)" class="ms-2" color="primary" mat-mini-fab
                matTooltip="Add Subscription">
          <i class="fas fa-book-medical"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<ng-template #filterTemplate>
  <form (ngSubmit)="onFilterApply()" [formGroup]="filterForm">
    <div class="d-flex justify-content-center">
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="district" id="district" pInputText type="text">
        <label for="district">District</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="school" id="school" pInputText type="text">
        <label for="school">School</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="subject" id="subject" pInputText type="text">
        <label for="subject">Subject</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="grade" id="grade" pInputText type="text">
        <label for="grade">Grade</label>
      </div>
      <div class="p-float-label m-1">
        <input class="p-inputtext-sm" formControlName="salesLead" id="salesLead" pInputText type="text">
        <label for="salesLead">Sales Lead</label>
      </div>
      <div class="text-center">
        <button class="mat-button-rounded m-1" color="primary" mat-raised-button>
          <i class="fas fa-search me-2"></i> Search
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #falseContent>
  <span class="alert alert-danger p-1"> False </span>
</ng-template>
