


<p-confirmDialog header="Confirmation"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      User Details
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>

  <p><b>Selected User</b> {{user.email}}</p>

  <label class="mt-2"> User Status : </label>
  <div class="m-2">
    <p-dropdown
      [(ngModel)]="selectedStatus"
      [options]="utilityService.status"
      appendTo="body"
      optionLabel="name" optionValue="code" styleClass="p-inputtext-sm w-100"></p-dropdown>
  </div>
</div>

<div class="text-center mt-2">
  <button (click)="onEditSubmit()" class="mat-button-rounded-sm" color="primary" mat-raised-button>
    Submit
  </button>
</div>







