<div class="m-2">
  <mat-card class="w-100">
    <img alt="{{book.name}}"
         mat-card-image
         src="{{book.image}}">
    <mat-card-content class="text-center">
      <p style="font-weight: bold; font-size: medium">
        {{book.name}}
      </p>
      <p style="color: gray">
        {{book.price}} LKR / 12 Months
      </p>
    </mat-card-content>
    <mat-card-actions class="text-center mb-1">
      <button class="m-1" color="primary"
              mat-flat-button
              style="text-transform: uppercase">
        Subscribe
      </button>
    </mat-card-actions>
  </mat-card>
</div>
