


<div class="container d-flex justify-content-center align-items-center">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="logo-img text-center">

      <img src="assets/img/my-text-book-logo-black.png"
           class="img-fluid p-3"
           alt="my-text-book-logo-2x">
    </div>
    <div class="p-float-label p-inputtext-sm p-input-icon-right mt-4">
      <i class="fas fa-user"></i>
      <input id="username"
             [ngClass]="{ 'p-invalid' : !loginForm.controls['username'].valid && loginForm.controls['username'].touched}"
             formControlName="username"
             type="text" pInputText>
      <label for="username">Username *</label>
    </div>

    <div>
      <val-errors controlName="username" label="The username">
        <ng-template valError="required"><small class="p-invalid">The username is required</small></ng-template>
        <ng-template valError="email"><small class="p-invalid">This is not a valid email address</small></ng-template>
      </val-errors>
    </div>

    <div class="p-float-label p-inputtext-sm p-input-icon-right mt-2">
      <i class="fas fa-lock"></i>
      <input id="password"
             [ngClass]="{ 'p-invalid' : !loginForm.controls['password'].valid && loginForm.controls['password'].touched}"
             formControlName="password"
             type="password" pInputText>
      <label for="password">Password *</label>
    </div>

    <div>
      <small *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched"
             class="p-invalid">Password is not available.
      </small>
    </div>


    <div class="mt-2">
      <button mat-raised-button color="primary"> SIGN IN </button>
    </div>
  </form>
</div>




