<!--<p>dev-test works!</p>-->
<!--<div class="row">-->
<!--  <button (click)="start()" class="btn btn-primary">Play</button>-->
<!--  <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>-->
<!--  <button (click)="pause()" class="btn btn-warning">Pause</button>-->
<!--  <button (click)="resume()" class="btn btn-info">Resume</button>-->
<!--  <button (click)="sound()" class="btn btn-danger">Play with Sound</button>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <div class="text-center">-->
<!--      <h3>-->
<!--        <video #videoElement></video>-->
<!--      </h3>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div style="text-align:center">
  <h1>
    Ngx-Webcam Demo
  </h1>

  <div>
    <webcam (cameraSwitched)="cameraWasSwitched($event)" (imageCapture)="handleImage($event)" (initError)="handleInitError($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch"
            [height]="500" [imageQuality]="1"
            [switchCamera]="nextWebcamObservable"
            [trigger]="triggerObservable"
            [videoOptions]="videoOptions"
            [width]="500"
    ></webcam>
    <br/>
    <button (click)="triggerSnapshot();" class="actionBtn">Take A Snapshot</button>
    <button (click)="toggleWebcam();" class="actionBtn">Toggle Webcam</button>
    <br/>
    <button (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable" class="actionBtn">Next Webcam
    </button>
    <input [(ngModel)]="allowCameraSwitch" id="cameraSwitchCheckbox" type="checkbox"><label for="cameraSwitchCheckbox">Allow
    Camera Switch</label>
    <br/>
    DeviceId: <input [(ngModel)]="deviceId" id="deviceId" style="width: 500px" type="text">
    <button (click)="showNextWebcam(deviceId);">Activate</button>
  </div>
</div>

<div *ngIf="webcamImage" class="snapshot">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>


