/* You can add global styles to this file, and also import other style files */

div, label, span, p {
  font-family: 'Poppins', sans-serif;
}

input {
  width: 100% !important;
}

span:focus {
  outline: none;
  border: 0;
}

button:focus {
  outline: none !important;
}


.auth-img {
  background-image: url(assets/img/login-img.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}




