/* You can add global styles to this file, and also import other style files */

div, label, span, p {
  font-family: 'Poppins', sans-serif;
}

input {
  width: 100% !important;
}

.navbar {
  color: #ffffff;
  background-color: #001B34 !important;
  border-color: #001B34 !important;
}


span:focus {
  outline: none;
  border: 0;
}

@import '~styles/ngx-toastr';

button:focus {
  outline: none !important;
}


.auth-img {
  background-image: url(assets/img/login-img.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.success-snack.mat-snack-bar-container {
  background-color: #ffffff;
  border-left: 5px solid #49DB6D;
}

.snack-notify-header {
  color: #000001;
  font-weight: bold;
}



