/* You can add global styles to this file, and also import other style files */


input {
  width: 100% !important;
}


.auth-img {
  background-image: url(assets/img/login-img.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}




