<p-confirmDialog header="Confirmation"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div mat-dialog-title>
  <div mat-dialog-title>
    <div class="d-flex justify-content-between">
      <div>
        User Details
      </div>
      <button (click)="dialogRef.close()" color="warn" mat-icon-button>
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
    <mat-label class="text-color-01-b ms-2">Message*</mat-label>
    <textarea [(ngModel)]="message"
              [autoResize]="true"
              [cols]="30"
              [rows]="5"
              class="w-100 mt-2"
              pInputTextarea>
  </textarea>

    <div class="text-center mt-4">
      <button (click)="onSendNotification()" class="mat-button-rounded-sm" color="primary" mat-raised-button>
        SEND
      </button>
    </div>
  </div>
