mat-drawer-container {
  height: 90vh;

}

.example-container {
  background-color: #ffffff;
}

i {
  cursor: pointer;
  outline: transparent;
}


.user-active {
  background-color: #000F34 !important;
}


.icon-width {
  width: 20px;
  //padding: 10px;
  display: flex;
  justify-content: center;
}

mat-drawer {
  color: #ffffff !important;
  background-color: #001851 !important;
}
