<mat-drawer-container [hasBackdrop]="true" class="example-container" style="background-color: #FFFFFF">
  <mat-drawer #drawer [mode]="'over'">
    <div class="user-active d-flex align-items-center justify-content-between p-2">
      <div class="ms-2"> <i class="fas fa-user me-1"></i> USER PROFILE  </div>
      <button mat-icon-button class="me-2" matTooltip="Close" (click)="drawer.close()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="text-center mt-5">
      <img alt="profile picture"
           class="img-fluid"
           src="assets/img/user.png">
      <div class="mt-1"> {{($userData|async)?.firstName}} {{($userData|async)?.lastName}}</div>
      <div class="mt-1"><button mat-button color="primary">Sign Out</button></div>
    </div>
    <div class="d-flex align-items-center p-3 mt-5" routerLinkActive="user-active">
      <i class="fas fa-info fa-1x icon-width" routerLink="/private/user-details"></i>
      <div class="ms-3 router-text-default me-5" routerLink="/private/user-details">
        USER DETAILS
      </div>
    </div>
    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">
      <i class="fas fa-shopping-bag fa-1x icon-width" routerLink="/private/user-details/subscriptions"></i>
      <div class="ms-3 router-text-default me-5" routerLink="/private/user-details/subscriptions">
        SUBSCRIPTIONS
      </div>
    </div>
    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">
      <i class="fas fa-history fa-1x icon-width" routerLink="/private/user-details/watch-history"></i>
      <div class="ms-3 router-text-default me-5" routerLink="/private/user-details/watch-history">
        WATCH HISTORY
      </div>
    </div>
    <!--    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">-->
    <!--      <i class="fas fa-bell fa-1x icon-width" routerLink=""></i>-->
    <!--      <div class="ms-3 router-text-default me-5" routerLink="">-->
    <!--        NOTIFICATIONS-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">-->
    <!--      <i class="fas fa-list-ol fa-1x icon-width" routerLink=""></i>-->
    <!--      <div class="ms-3 router-text-default me-5" routerLink="">-->
    <!--        STATUS-->
    <!--      </div>-->
    <!--    </div>-->
  </mat-drawer>
  <mat-drawer-content style="background-image: url('assets/img/live-background.svg')">
    <app-private-nav-bar [drawer]="drawer"></app-private-nav-bar>
    <div style="margin-top: 15vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
