<mat-drawer-container [hasBackdrop]="true" class="example-container"  style="background-color: #FFFFFF">
  <mat-drawer #drawer [mode]="'over'">
    <div class="text-center mt-5">
      <img alt="profile picture"
           src="https://www.pikpng.com/pngl/m/80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png"
           style="max-height: 75px;">
      <div>Kasun Chamikara</div>
      <div><a href="">Sign Out</a></div>
    </div>
    <div class="d-flex align-items-center p-3 mt-5" routerLinkActive="user-active">
      <i class="fas fa-info fa-1x icon-width" routerLink="/private/user-details"></i>
      <div class="ms-3 router-text-default me-5" routerLink="/private/user-details">
        USER DETAILS
      </div>
    </div>
    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">
      <i class="fas fa-shopping-bag fa-1x icon-width" routerLink="/private/user-details/subscriptions"></i>
      <div class="ms-3 router-text-default me-5" routerLink="/private/user-details/subscriptions">
        SUBSCRIPTIONS
      </div>
    </div>
    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">
      <i class="fas fa-history fa-1x icon-width" routerLink="/private/user-details/watch-history"></i>
      <div class="ms-3 router-text-default me-5" routerLink="/private/user-details/watch-history">
        WATCH HISTORY
      </div>
    </div>
    <!--    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">-->
    <!--      <i class="fas fa-bell fa-1x icon-width" routerLink=""></i>-->
    <!--      <div class="ms-3 router-text-default me-5" routerLink="">-->
    <!--        NOTIFICATIONS-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="d-flex align-items-center p-3" routerLinkActive="user-active">-->
    <!--      <i class="fas fa-list-ol fa-1x icon-width" routerLink=""></i>-->
    <!--      <div class="ms-3 router-text-default me-5" routerLink="">-->
    <!--        STATUS-->
    <!--      </div>-->
    <!--    </div>-->
  </mat-drawer>
  <mat-drawer-content style="background-image: url('assets/img/live-background.svg')">
    <app-private-nav-bar [drawer]="drawer"></app-private-nav-bar>
    <div style="margin-top: 15vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
