<div>
  <div class="header-text">
    <h2><b>Password change</b></h2>
  </div>
  <form [formGroup]="pwdForm">
    <mat-label class="text-color-01-b">Current password (leave blank to leave unchanged)</mat-label>
    <mat-form-field appearance="outline" class="mt-1" floatLabel="never">
      <mat-icon class="me-1 text-color-01" matPrefix>lock</mat-icon>
      <input [type]="hide ? 'password' : 'text'"
             formControlName="password"
             matInput
             placeholder="********">

      <button (click)="$event.preventDefault();hide = !hide"
              mat-icon-button
              matSuffix>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="pwdForm.controls['password'].hasError('minlength')">Min 8 characters</mat-error>
      <mat-error *ngIf="pwdForm.controls['password'].hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-label class="text-color-01-b">New password (leave blank to leave unchanged)</mat-label>
    <mat-form-field appearance="outline" class="mt-1" floatLabel="never">
      <mat-icon class="me-1 text-color-01" matPrefix>lock</mat-icon>
      <input [type]="hide ? 'password' : 'text'"
             formControlName="newPassword"
             matInput
             placeholder="********">

      <button (click)="$event.preventDefault();hide = !hide"
              mat-icon-button
              matSuffix>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="pwdForm.controls['password'].hasError('minlength')">Min 8 characters</mat-error>
      <mat-error *ngIf="pwdForm.controls['password'].hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-label class="text-color-01-b">Confirm new password</mat-label>
    <mat-form-field appearance="outline" class="mt-1" floatLabel="never">
      <mat-icon class="me-1 text-color-01" matPrefix>lock</mat-icon>
      <input [type]="hide ? 'password' : 'text'"
             formControlName="conPassword"
             matInput
             placeholder="********">

      <button (click)="$event.preventDefault();hide = !hide"
              mat-icon-button
              matSuffix>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="pwdForm.controls['password'].hasError('minlength')">Min 8 characters</mat-error>
      <mat-error *ngIf="pwdForm.controls['password'].hasError('required')">Required</mat-error>
    </mat-form-field>
  </form>
</div>
