<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="padding: 8vw">
      <h1 class="header-text">
        <b>Welcome to a happy </b>
        <br>
        <b>learning community </b>
      </h1>
      <p class="text-color-01 mt-4 mb-4">Mytextbook, is the most innovative and effective science
        learning tool in Sri Lanka. All you need is your smart phone and
        the national textbook to experience the most comprehensive
        science education tool, ever produced in the country. It also
        being distributed at a very nominal subscription rate.</p>
    </div>
    <div class="col-sm-6 auth-img">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="padding: 8vw">
      <h1 class="header-text">
        <b>4CS We believe in </b>
      </h1>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">01.We believe in changes</h3>
          <h5 class="font-weight-light">To understand the world is changing
            and we need to adapt. To not expect
            new results from the same old</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">02. We believe in Creativity</h3>
          <h5 class="font-weight-light">To create new and to add value</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">03. We believe in Capability</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">04. We believe in Convenience</h3>
          <h5 class="font-weight-light">To understand time is running fast and
            we need convenience</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 auth-img">
    </div>
  </div>
  <br>
  <div>
      <h1 class="header-text text-center">OUR SUPPORTING TEAM</h1>
  </div>
  <div class="row ">
    <div class="col text-right" >
      <h4>CONTENTS CREATING TEAM </h4>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">01. Optimum Learning</h3>
          <h5 class="font-weight-light ">To understand the world is changing
            and we need to adapt. To not expect
            new results from the same old</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">02. Reliability</h3>
          <h5 class="font-weight-light">To create new and to add value</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">03. It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">04.It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">05. It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">06.It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <h4>VOICING TEAM</h4>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">01. Optimum Learning</h3>
          <h5 class="font-weight-light ">To understand the world is changing
            and we need to adapt. To not expect
            new results from the same old</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">02. Reliability</h3>
          <h5 class="font-weight-light">To create new and to add value</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">03. It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">04.It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">05. It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">06.It's fun</h3>
          <h5 class="font-weight-light">To think each one of us are capable! T o
            learn and to do things. We just need
            the correct triggering</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" style="padding: 8vw">
      <h1 class="header-text">
        <b>AR Learning </b>
      </h1>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">01. Optimum Learning</h3>
          <h5 class="font-weight-light ">To understand the world is changing
            and we need to adapt. To not expect
            new results from the same old</h5>
        </div>
        <div class="col">
          <h3 class="font-weight-bold">02. Reliability</h3>
          <h5 class="font-weight-light">To create new and to add value</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="font-weight-bold">01. Optimum Learning</h3>
          <h5 class="font-weight-light ">To understand the world is changing
            and we need to adapt. To not expect
            new results from the same old</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 auth-img">
    </div>
  </div>

  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Mytextbook.lk</h4>
              <p>Mytextbook.lk is a platform that will
                help to create detailed and immersive
                Augmented Reality Apps and
                Experiences within minutes without
                coding or dependency</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>ADDITIONAL LINKS</h4>
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Subscribe</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>CONTACT INFO</h4>
              <p>Mytextbook
                No.13, Adam’s Avenue, Colombo 04</p>
              <br>
              <h4>Email: info@mytextbook.lk <br>
                Phone: +94 70 454 0 454 | +94 11
                369 0 250</h4>
            </div>
          </div>
          <div class="col-md-3">
            <h4>STAY IN TOUCH</h4>
            <ul class="social-network social-circle">
              <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="icotwitter" title="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icoinsta" title="instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="icoLinkedin" title="youtube"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy;  2020 Mytextbook is Proudly Powered by edu-on</p>
          </div>
        </div>


      </div>
    </div>
  </footer>


</div>
