<div class="text-center">
  <div>
    <img alt="{{video.chapter}}"
         mat-card-image
         routerLink="/private/user-details/video-player/{{video.id}}/{{userId}}/{{video.contentURL}}"
         src="{{video.markerImageURL}}"
         style="max-width: 400px; max-height: 400px">
  </div>
  <div class="mt-3">
    <p style="font-size: medium; font-weight: bold">
      Chapter {{video.chapter}} - {{video.description}}
    </p>
    <p>Uploaded on {{video.dateOfUpload | date}}</p>
  </div>
</div>
