<div class="container mt-5">
  <h1 class="header-text">
    <b>Dashboard</b>
  </h1>

  <div class="row">
    <div class="col-sm-4">
      <mat-card class="d-flex justify-content-between align-items-center " style="height: 100px">
        <p class="h4">
          <b>Subscription count <br>
          in last month</b>
        </p>
        <p class="h1" style="color: #1E61FF"><b> 72 </b></p>
      </mat-card>

      <mat-card class="mt-5">
        <h3> <b>Students Per Grades </b></h3>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </mat-card>

      <mat-card class="mt-5">
        <h3> <b>Highest Referral Users</b></h3>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </mat-card>



    </div>
    <div class="col-sm-8">
      <mat-card>
        <h3> <b>Subscription count in last month</b></h3>
        <div class="row">
          <div class="col-sm-8">
            <img src="./assets/lk.png" alt="">
          </div>
          <div class="col-sm-4">

          </div>
        </div>
      </mat-card>

    </div>
  </div>


</div>
