<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      Add Books
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <form (ngSubmit)="onAddBooks()" [formGroup]="addBook">
    <div class="p-float-label m-2">
      <input [ngClass]="{ 'p-invalid' : !addBook.controls['name'].valid && addBook.controls['name'].touched}" class="p-inputtext-sm"
             formControlName="name"
             id="name"
             pInputText type="text">
      <label for="name">Book's Name*</label>
    </div>
    <div>
      <val-errors controlName="name">
        <ng-template valError="required"><small class="p-invalid ms-3">The Name is required</small></ng-template>
        >
      </val-errors>
    </div>

    <div class="p-float-label m-2">
      <input [ngClass]="{ 'p-invalid' : !addBook.controls['medium'].valid && addBook.controls['medium'].touched}" class="p-inputtext-sm"
             formControlName="medium"
             id="medium"
             pInputText type="text">
      <label for="medium">Book's Medium*</label>
    </div>
    <div>
      <val-errors controlName="name">
        <ng-template valError="required"><small class="p-invalid ms-3">The Medium is required</small></ng-template>
        >
      </val-errors>
    </div>

    <!--      <p-dropdown [options]="utilityService.getGradeList()" formControlName="grade" optionLabel="Grade"-->
    <!--                  [ngClass]="{ 'p-invalid' : !addBook.controls['grade'].valid && addBook.controls['grade'].touched}"-->
    <!--      >-->
    <!--      </p-dropdown>-->

    <!--      <div class="p-float-label m-2">-->
    <!--        <input type="text" id="grade"-->
    <!--               formControlName="grade"-->
    <!--               [ngClass]="{ 'p-invalid' : !addBook.controls['grade'].valid && addBook.controls['grade'].touched}"-->
    <!--               class="p-inputtext-sm" pInputText>-->
    <!--        <label for="grade">Book's Medium*</label>-->
    <!--      </div>-->
    <div>
      <val-errors controlName="grade">
        <ng-template valError="required"><small class="p-invalid ms-3">The Medium is required</small></ng-template>
        >
      </val-errors>
    </div>

    <!--      &lt;!&ndash;Referral Link&ndash;&gt;-->

    <!--      <div class="p-float-label m-2">-->
    <!--        <input type="text" id="referralLink"-->
    <!--               formControlName="referralLink"-->
    <!--               [ngClass]="{ 'p-invalid' : !addUser.controls['referralLink'].valid && addUser.controls['referralLink'].touched}"-->
    <!--               class="p-inputtext-sm" pInputText>-->
    <!--        <label for="referralLink">Referral Link*</label>-->
    <!--      </div>-->

    <!--      <div>-->
    <!--        <val-errors controlName="referralLink" label="The referralLink">-->
    <!--          <ng-template valError="required">-->
    <!--            <div class="container">-->
    <!--              <small class="p-invalid ms-3">The referral link is required</small>-->
    <!--            </div>-->
    <!--          </ng-template>-->
    <!--        </val-errors>-->
    <!--      </div>-->

    <!--      &lt;!&ndash;Role Id&ndash;&gt;-->
    <!--      <div class="p-float-label m-2">-->
    <!--        <input type="text" id="roleId"-->
    <!--               formControlName="roleId"-->
    <!--               [ngClass]="{ 'p-invalid' : !addUser.controls['roleId'].valid && addUser.controls['roleId'].touched}"-->
    <!--               class="p-inputtext-sm" pInputText>-->
    <!--        <label for="roleId">Role Id*</label>-->
    <!--      </div>-->
    <!--      <div>-->
    <!--        <val-errors controlName="roleId" label="The roleId">-->
    <!--          <ng-template valError="required">-->
    <!--            <small class="p-invalid ms-3">The role is required</small>-->
    <!--          </ng-template>-->
    <!--        </val-errors>-->
    <!--      </div>-->
    <!--      <div class="text-center mt-3">-->
    <!--        <button mat-raised-button color="primary" class="mat-button-rounded-sm"> Add User </button>-->
    <!--      </div>-->
  </form>
</div>

<!--<p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" optionDisabled="inactive"></p-dropdown>-->


<!--<div mat-dialog-title>-->
<!--  <div class="d-flex justify-content-between align-items-center">-->
<!--    <div class="header-text-sm">-->
<!--      Add User-->
<!--    </div>-->
<!--    <button (click)="dialogRef.close()" color="warn" mat-icon-button>-->
<!--      <mat-icon>highlight_off</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
<!--<div mat-dialog-content>-->
<!--  <form [formGroup]="addUser" (ngSubmit)="onAddUsers()">-->

<!--    <div class="p-float-label m-2">-->
<!--      <input type="text" id="email"-->
<!--             formControlName="email"-->
<!--             [ngClass]="{ 'p-invalid' : !addUser.controls['email'].valid && addUser.controls['email'].touched}"-->
<!--             class="p-inputtext-sm" pInputText>-->
<!--      <label for="email">Email*</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <val-errors controlName="email" label="The email">-->
<!--        <ng-template valError="required"><small class="p-invalid ms-3">The email is required</small></ng-template>-->
<!--        <ng-template valError="email"><small class="p-invalid ms-3">This is not a valid email address</small></ng-template>-->
<!--      </val-errors>-->
<!--    </div>-->

<!--    &lt;!&ndash;Referral Link&ndash;&gt;-->

<!--    <div class="p-float-label m-2">-->
<!--      <input type="text" id="referralLink"-->
<!--             formControlName="referralLink"-->
<!--             [ngClass]="{ 'p-invalid' : !addUser.controls['referralLink'].valid && addUser.controls['referralLink'].touched}"-->
<!--             class="p-inputtext-sm" pInputText>-->
<!--      <label for="referralLink">Referral Link*</label>-->
<!--    </div>-->

<!--    <div>-->
<!--      <val-errors controlName="referralLink" label="The referralLink">-->
<!--        <ng-template valError="required">-->
<!--          <div class="container">-->
<!--            <small class="p-invalid ms-3">The referral link is required</small>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </val-errors>-->
<!--    </div>-->

<!--    &lt;!&ndash;Role Id&ndash;&gt;-->
<!--    <div class="p-float-label m-2">-->
<!--      <input type="text" id="roleId"-->
<!--             formControlName="roleId"-->
<!--             [ngClass]="{ 'p-invalid' : !addUser.controls['roleId'].valid && addUser.controls['roleId'].touched}"-->
<!--             class="p-inputtext-sm" pInputText>-->
<!--      <label for="roleId">Role Id*</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <val-errors controlName="roleId" label="The roleId">-->
<!--        <ng-template valError="required">-->
<!--          <small class="p-invalid ms-3">The role is required</small>-->
<!--        </ng-template>-->
<!--      </val-errors>-->
<!--    </div>-->
<!--    <div class="text-center mt-3">-->
<!--      <button mat-raised-button color="primary" class="mat-button-rounded-sm"> Add User </button>-->
<!--    </div>-->
<!--  </form>-->


<!--</div>-->


