<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      Add Books
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <form (ngSubmit)="onAddBooks()" [formGroup]="addBook">
    <div class="p-float-label m-2">
      <input [ngClass]="{ 'p-invalid' : !addBook.controls['name'].valid && addBook.controls['name'].touched}"
             class="p-inputtext-sm"
             formControlName="name"
             id="name"
             pInputText type="text">
      <label for="name">Book's Name*</label>
    </div>
    <div>
      <val-errors controlName="name">
        <ng-template valError="required"><small class="p-invalid ms-3">The Name is required</small></ng-template>
        >
      </val-errors>
    </div>

    <div class="p-float-label m-2">
      <input
        formControlName="medium"
        [ngClass]="{ 'p-invalid' : !addBook.controls['medium'].valid && addBook.controls['medium'].touched}"
        class="p-inputtext-sm"
        id="medium"
        pInputText type="text">
      <label for="medium">Book's Medium*</label>
    </div>

    <div>
      <val-errors controlName="medium">
        <ng-template valError="required"><small class="p-invalid ms-3">The Medium is required</small></ng-template>
        >
      </val-errors>
    </div>

    <div class="m-2" style="position: relative">
      <p-dropdown
        appendTo="body"
        styleClass="p-inputtext-sm w-100"
        [options]="utilityService.gradeList" formControlName="grade" optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a Grade*">

        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value">
            <div>{{addBook.controls['grade'].value.name}}</div>
          </div>
        </ng-template>

        <ng-template let-grade pTemplate="item">
          <div class="country-item">
            <div>{{grade.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div>
      <val-errors controlName="grade">
        <ng-template valError="required"><small class="p-invalid ms-3">The Grade is required</small></ng-template>
      </val-errors>
    </div>

    <div class="m-2" style="position: relative">
      <p-dropdown
        appendTo="body"
        styleClass="p-inputtext-sm w-100"
        [options]="subjects" formControlName="subjectId" optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a Subject*">

        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value">
            <div>{{addBook.controls['subjectId'].value.name}}</div>
          </div>
        </ng-template>

        <ng-template let-subject pTemplate="item">
          <div class="country-item">
            <div>{{subject.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div>
      <val-errors controlName="subjectId">
        <ng-template valError="required"><small class="p-invalid ms-3">The Grade is required</small></ng-template>
      </val-errors>
    </div>

    <div class="p-float-label m-2">
      <input
        formControlName="price"
        [ngClass]="{ 'p-invalid' : !addBook.controls['price'].valid && addBook.controls['price'].touched}"
        class="p-inputtext-sm"
        id="price"
        pInputText type="number">
      <label for="medium">Book's Price*</label>
    </div>

    <div>
      <val-errors controlName="price">
        <ng-template valError="required"><small class="p-invalid ms-3">The Medium is required</small></ng-template>
      </val-errors>
    </div>

    <mat-divider>
    </mat-divider>
    <label class="ms-3"> Book's Image </label>
    <div class="d-flex justify-content-between align-items-center">
      <p-fileUpload styleClass="m-2" #ff mode="basic" name="demo[]" [fileLimit]="1"
                    [customUpload]="true"
                    (onSelect)="onBasicUpload($event)">
      </p-fileUpload>
      <button type="button" mat-icon-button color="warn" (click)="ff.clear();onRemoveClick()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <small *ngIf="!bookImage" class="p-invalid ms-3">The book's image is required</small>
    </div>
    <mat-divider>
    </mat-divider>

    <div class="text-center w-100 mt-3">
      <button mat-raised-button color="primary" class="mat-button-rounded-sm"> Add Book</button>
    </div>
  </form>
</div>


