<div class="body-layer">
  <div class="wrapper">
    <h1>NOT FOUND<span class="dot">.</span></h1>
    <p>Go back to home or Put some text here.</p>
    <div class="text-center">
      <button mat-mini-fab matTooltip="click to go back to login" routerLink="">
        <i class="fas fa-home"></i>
      </button>
      &nbsp;
      &nbsp;
      <button mat-mini-fab>
        <i class="fa fa-youtube-play"></i>
      </button>
      &nbsp;
      &nbsp;
      <button mat-mini-fab>
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>

