<div class="row">
  <div class="col-sm-3">
    <mat-form-field appearance="outline">
      <mat-label>Search by Subject</mat-label>
      <mat-select>
        <mat-option *ngFor="let subject of subjects"
                    value="subject.name">
          {{subject.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <mat-form-field appearance="outline">
      <mat-label>Search by Grade</mat-label>
      <mat-select>
        <mat-option *ngFor="let grade of utilityService.gradeList"
                    value="grade.name">
          {{grade.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <mat-form-field appearance="outline">
      <mat-label>Search by Medium</mat-label>
      <mat-select>
        <mat-option *ngFor="let medium of utilityService.mediums"
                    value="medium.name">
          {{medium.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <button mat-flat-button
            color="primary"
            class="btn-cus w-100"
            style="text-transform: uppercase">
      <i class="fas fa-search ms-2"></i>
      Search
    </button>
  </div>
</div>
