<p-table #dt1
         [globalFilterFields]="['name','description','chapter','pageNumber','viewCount','likeCount','unLikeCount','status','book']"
         [loading]="loading"
         [paginator]="true"
         [rowsPerPageOptions]="[10,25,50]"
         [rows]="10"
         [showCurrentPageReport]="true"
         [value]="contentList"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         styleClass="p-datatable-sm p-datatable-responsive-demo">

  <ng-template pTemplate="caption">
    <div class="mb-2">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input (input)="dt1.filterGlobal(searchInputData, 'contains')"
               [(ngModel)]="searchInputData" class="p-inputtext-sm"
               matTooltip="Search from table"
               pInputText
               placeholder="Search keyword"
               type="text"/>
      </div>
    </div>
  </ng-template>


  <ng-template pTemplate="header">
    <tr>
      <th>
        Marker Image
      </th>
      <th>
        Name
      </th>
      <th>
        Chapter <br>No
      </th>
      <th>
        Page No
      </th>
      <th>
        View <br> Count
      </th>
      <th>
        Like <br> Count
      </th>
      <th>
        Unlike <br> Count
      </th>
      <th>
        Status
      </th>
      <th>
        Book Name
      </th>
      <th>
        Action
      </th>
    </tr>
  </ng-template>
  <ng-template let-content pTemplate="body">
    <tr>
      <td>
        <img alt="" class="img-fluid" height="80px" src="{{content.markerImageURL}}" width="80px">
      </td>
      <td>{{content.name}}</td>
      <!--      <td>{{content.description}}</td>-->
      <td>{{content.chapter}}</td>
      <td>{{content.pageNumber}}</td>
      <td>{{content.viewCount}}</td>
      <td>{{content.likeCount}}</td>
      <td>{{content.unLikeCount}}</td>
      <td>{{content.status}}</td>
      <td>{{content.book}}</td>
      <td>
        <button [state]="content"
                color="primary"
                mat-mini-fab
                matTooltip="View More"
                routerLink="../view">
          <i class="fas fa-eye"></i>
        </button>
        &nbsp;
        <!--        <button-->
        <!--          color="primary"-->
        <!--          mat-mini-fab-->
        <!--          matTooltip="Edit"-->
        <!--          (click)="onContentEditDialogOpen(content)">-->
        <!--          <i class="fas fa-edit"></i>-->
        <!--        </button>-->
      </td>
    </tr>
  </ng-template>
</p-table>
