<p-table #dt1 [loading]="loading" [paginator]="true"
         [rowsPerPageOptions]="[10,25,50]"
         [rows]="10"
         [showCurrentPageReport]="true"
         [value]="contentList"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         styleClass="p-datatable-sm p-datatable-responsive-demo"
>

  <ng-template pTemplate="caption">
    <div class="mb-2">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input (input)="dt1.filterGlobal(searchInputData, 'contains')"
               [(ngModel)]="searchInputData" pInputText
               placeholder="Search keyword"
               matTooltip="Search from table"
               class="p-inputtext-sm"
               type="text"/>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <!--        <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>-->
      </div>


      <!--      <button mat-icon-button color="primary" (click)="op.toggle($event)">-->
      <!--        <mat-icon>filter_alt</mat-icon>-->
      <!--      </button>-->


    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        Marker Image
      </th>
      <th>
        Name
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Email-->
        <!--          <p-columnFilter display="menu" field="email" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Description
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          First Name-->
        <!--          <p-columnFilter display="menu" field="firstName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Chapter No
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Last Name-->
        <!--          <p-columnFilter display="menu" field="lastName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Page No
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Contact No-->
        <!--          <p-columnFilter display="menu" field="telephoneNumber" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        View Count
        <!--        <div class="p-d-flex p-jc-between p-ai-center" matTooltip="User active status">-->
        <!--          Status-->
        <!--          <p-columnFilter display="menu" field="active" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Like Count
        <!--        <div class="p-d-flex p-jc-between p-ai-center" matTooltip="Subscription Count">-->
        <!--          Sub. Count-->
        <!--          <p-columnFilter display="menu" field="subscriptionCount" type="number"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Unlike Count
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Role-->
        <!--          <p-columnFilter display="menu" field="role" type="number"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Status
      </th>
      <th>
        Book Name
      </th>
      <th>
        Action
      </th>
    </tr>
  </ng-template>
  <ng-template let-content pTemplate="body">
    <tr>
      <td>
        <img src="{{content.markerImageURL}}" alt="" class="img-fluid" width="80px" height="80px">
      </td>
      <td>{{content.name}}</td>
      <td>{{content.description}}</td>
      <td>{{content.chapter}}</td>
      <td>{{content.pageNumber}}</td>
      <td>{{content.viewCount}}</td>
      <td>{{content.likeCount}}</td>
      <td>{{content.unLikeCount}}</td>
      <td>{{content.status}}</td>
      <td>{{content.book}}</td>
      <td>
        <button  color="primary" mat-mini-fab matTooltip="View More"><i
          class="fas fa-eye"></i>
        </button>

      </td>
    </tr>
  </ng-template>
</p-table>
