<p-confirmDialog header="Confirmation"
                 icon="pi pi-exclamation-triangle"
                 key="cd-100"></p-confirmDialog>
<div class="container mt-5">
  <h1 class="header-text">
    <b>Content Management</b>
  </h1>
  <hr>
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="header-text-sm"> Content Details </h2>

    <div>
      <button (click)="onContentEditDialogOpen(contentData)"
              class="mat-button-rounded-sm ms-2"
              color="primary" mat-raised-button>
        <i class="fas fa-edit me-2"></i>
        EDIT CONTENT
      </button>
      <button (click)="onDeleteContentClick(contentData)"
              class="mat-button-rounded-sm ms-2"
              color="warn" mat-raised-button>
        <i class="fas fa-trash-alt me-2"></i>
        DELETE CONTENT
      </button>
    </div>

  </div>
</div>

<div *ngIf="contentData.id != null;else noContent" class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <img alt="{{contentData.name}}" class="img-fluid" src="{{contentData.markerImageURL}}">
    </div>
    <div class="col-sm-8">
      <iframe [src]="videoUrl" allow="autoplay; fullscreen" allowfullscreen height="360" width="640">
      </iframe>
    </div>
  </div>

  <p><b> Name : {{contentData.name}} </b></p>
  <p> Description : {{contentData.description}} </p>
  <p> BookName : {{contentData.book}} </p>
  <p> Like Count : {{contentData.likeCount}} </p>
  <p> View Count : {{contentData.viewCount}} </p>


  <div class="row">

    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="header-text-sm"> Question Details </h2>
      <button
        class="mat-button-rounded-sm ms-2"
        color="primary" mat-raised-button>
        <i class="fas fa-plus me-2"></i>
        ADD QUESTION
      </button>
    </div>

    <div class="col-10">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <app-content-question *ngFor="let question of contentData.questions"
                              [question]="question"></app-content-question>
      </div>
    </div>
  </div>

</div>

<ng-template #noContent>
  Please Select a Content from Table
</ng-template>
