@import '~ngx-toastr/toastr';

$border-radius: 40px;
span:focus {
  outline: none;
  border: 0;
}

button:focus {
  outline: none !important;
}

input {
  border-radius: $border-radius !important;
}

p-button:focus {
  outline: none !important;
  background-color: transparent !important;
}

p-button {
  background-color: transparent !important;
}

.btn-color-gold {
  background-color: #BA951A !important;
  color: #ffffff !important;
}



.p-button.p-fileupload-choose {
  border-radius: 45px !important;
}
.fixed-top{
  z-index: 1000!important;
}

th{
  font-weight: bold !important;
}


  // Material

mat-form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  padding-bottom: 1em !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  margin-left: 10px;
}

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start {
  display: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end {
  border-radius: 30px;
  border: 1px solid #D8DADF;
  padding-left: 20px !important;
}

.p-dropdown-panel .p-dropdown-header {

}

.p-dropdown-items-wrapper {

}
