<app-tool-bar></app-tool-bar>
<mat-drawer-container autosize class="example-container">
  <mat-drawer [opened]="true" class="example-sidenav" mode="side">
    <div class="d-flex flex-column">

      <div (click)="showFiller = !showFiller"
           class="d-flex align-items-center justify-content-end p-3 admin-active"
           style="cursor: pointer">
        <span *ngIf="showFiller" class="me-2">
          <i class="fas fa-user-circle me-2"></i>{{userEmail}}
        </span>
        <i class="fas fa-bars fa-1x icon-width" matRipple></i>

        <div *ngIf="showFiller" class="ms-3 router-text-default"></div>
      </div>

      <div class="d-flex align-items-center  p-3 mt-5" routerLinkActive="admin-active">
        <i class="fas fa-chart-pie fa-1x icon-width" routerLink="/admin/dashboard"></i>
        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default me-5" routerLink="/admin/dashboard">
          DASHBOARD
        </div>
      </div>
      <div class="d-flex align-items-center p-3" routerLinkActive="admin-active">
        <i class="fab fa-accusoft fa-1x icon-width" routerLink="/admin/subject"></i>
        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default" routerLink="/admin/subject">SUBJECT
        </div>
      </div>
      <div class="d-flex align-items-center p-3" routerLinkActive="admin-active">
        <i class="fas fa-book fa-1x icon-width" routerLink="/admin/book"></i>
        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default" routerLink="/admin/book">BOOK
        </div>
      </div>
      <div class="d-flex align-items-center p-3">
        <i class="fas fa-file-video fa-1x icon-width" routerLink="/admin/content"></i>
        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default" routerLink="/admin/content">CONTENT
        </div>
      </div>
      <div class="d-flex align-items-center p-3" routerLinkActive="admin-active">
        <i class="fas fa-users fa-1x icon-width" routerLink="/admin/users"></i>
        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default" routerLink="/admin/users">USERS</div>
      </div>
<!--      <div class="d-flex align-items-center p-3">-->
<!--        <i class="fas fa-ticket-alt fa-1x icon-width"></i>-->
<!--        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default">COUPONS</div>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center p-3">-->
<!--        <i class="fas fa-envelope fa-1x icon-width "></i>-->
<!--        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default">PUSH NOTIFICATION</div>-->
<!--      </div>-->
<!--      <div class="d-flex align-items-center p-3">-->
<!--        <i class="fas fa-chalkboard-teacher fa-1x icon-width "></i>-->
<!--        <div *ngIf="showFiller" [@inOutAnimation] class="ms-3 router-text-default">QUESTIONS</div>-->
<!--      </div>-->
    </div>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<ng-template #userData>

</ng-template>
