mat-drawer-container {
  height: 100vh;

}
.icon-width {
  width: 20px;
  //padding: 10px;
  display: flex;
  justify-content: center;
}
mat-drawer {
  color: #ffffff !important;
  background-color: #001851 !important;
}
