<!--<div style="text-align:center">-->
<!--  <h1 class="abc">-->
<!--    Welcome to {{ title }}!-->
<!--  </h1>-->
<!--  <div><img alt="Angular Logo" src="data:image/svg+xml;base64,..." width="300"></div>-->
<!--  <button class="mat-button-rounded" color="primary" mat-raised-button>Click Me!</button>-->
<!--</div>-->

<!--<br>-->

<!--<input class="p-input-round" pInputText type="text"/>-->

<!--<span class="p-float-label">-->
<!--    <input id="float-input" pInputText style="border-radius: 500px" type="text">-->
<!--    <label for="float-input">Username</label>-->
<!--</span>-->

<!--<h5>Basic</h5>-->


<!--<p-button [disabled]="true" label="Disabled"></p-button>-->
<!--<p-button label="Link" styleClass="p-button-link"></p-button>-->

<!--<h5>Icons</h5>-->
<!--<p-button icon="pi pi-check"></p-button>-->
<!--<p-button icon="pi pi-check" label="Submit"></p-button>-->
<!--<p-button icon="pi pi-check" iconPos="right" label="Submit"></p-button>-->

<!--<h5>Severities</h5>-->
<!--<button label="Primary" matRipple pButton type="button"></button>-->
<!--<button class="p-button-secondary" label="Secondary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-success" label="Success" pButton pRipple type="button"></button>-->
<!--<button class="p-button-info" label="Info" pButton pRipple type="button"></button>-->
<!--<button class="p-button-warning" label="Warning" pButton pRipple type="button"></button>-->
<!--<button class="p-button-help" label="Help" pButton pRipple type="button"></button>-->
<!--<button class="p-button-danger" label="Danger" pButton pRipple type="button"></button>-->

<!--<h5>Raised Buttons</h5>-->
<!--<button class="p-button-raised" label="Primary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-secondary" label="Secondary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-success" label="Success" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-info" label="Info" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-warning" label="Warning" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-help" label="Help" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-danger" label="Danger" pButton pRipple type="button"></button>-->

<!--<h5>Rounded Buttons</h5>-->
<!--<button class="p-button-rounded" label="Primary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-secondary" label="Secondary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-success" label="Success" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-info" label="Info" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-warning" label="Warning" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-help" label="Help" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-danger" label="Danger" pButton pRipple type="button"></button>-->

<!--<h5>Text Buttons</h5>-->
<!--<button class="p-button-text" label="Primary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-secondary p-button-text" label="Secondary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-success p-button-text" label="Success" pButton pRipple type="button"></button>-->
<!--<button class="p-button-info p-button-text" label="Info" pButton pRipple type="button"></button>-->
<!--<button class="p-button-warning p-button-text" label="Warning" pButton pRipple type="button"></button>-->
<!--<button class="p-button-help p-button-text" label="Help" pButton pRipple type="button"></button>-->
<!--<button class="p-button-danger p-button-text" label="Danger" pButton pRipple type="button"></button>-->
<!--<button class="p-button-text p-button-plain" label="Plain" pButton pRipple type="button"></button>-->

<!--<h5>Raised Text Buttons</h5>-->
<!--<button class="p-button-raised p-button-text" label="Primary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-secondary p-button-text" label="Secondary" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-raised p-button-success p-button-text" label="Success" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-info p-button-text" label="Info" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-warning p-button-text" label="Warning" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-help p-button-text" label="Help" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-danger p-button-text" label="Danger" pButton pRipple type="button"></button>-->
<!--<button class="p-button-raised p-button-text p-button-plain" label="Plain" pButton pRipple type="button"></button>-->

<!--<h5>Outlined Buttons</h5>-->
<!--<button class="p-button-outlined" label="Primary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-outlined p-button-secondary" label="Secondary" pButton pRipple type="button"></button>-->
<!--<button class="p-button-outlined p-button-success" label="Success" pButton pRipple type="button"></button>-->
<!--<button class="p-button-outlined p-button-info" label="Info" pButton pRipple type="button"></button>-->
<!--<button class="p-button-outlined p-button-warning" label="Warning" pButton pRipple type="button"></button>-->
<!--<button class="p-button-outlined p-button-help" label="Help" pButton pRipple type="button"></button>-->
<!--<button class="p-button-outlined p-button-danger" label="Danger" pButton pRipple type="button"></button>-->

<!--<h5>Rounded Icon Buttons</h5>-->
<!--<button class="p-button-rounded" icon="pi pi-check" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-secondary" icon="pi pi-bookmark" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-success" icon="pi pi-search" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-info" icon="pi pi-user" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-warning" icon="pi pi-bell" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-help" icon="pi pi-heart" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-danger" icon="pi pi-times" pButton pRipple type="button"></button>-->

<!--<h5>Rounded Text Icon Buttons</h5>-->
<!--<button class="p-button-rounded p-button-text" icon="pi pi-check" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-secondary p-button-text" icon="pi pi-bookmark" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-success p-button-text" icon="pi pi-search" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-info p-button-text" icon="pi pi-user" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-warning p-button-text" icon="pi pi-bell" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-help p-button-text" icon="pi pi-heart" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-danger p-button-text" icon="pi pi-times" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-text p-button-plain" icon="pi pi-filter" pButton pRipple-->
<!--        type="button"></button>-->

<!--<h5>Rounded and Outlined Icon Buttons</h5>-->
<!--<button class="p-button-rounded p-button-outlined" icon="pi pi-check" pButton pRipple type="button"></button>-->
<!--<button class="p-button-rounded p-button-secondary p-button-outlined" icon="pi pi-bookmark" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-success p-button-outlined" icon="pi pi-search" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-info p-button-outlined" icon="pi pi-user" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-warning p-button-outlined" icon="pi pi-bell" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-help p-button-outlined" icon="pi pi-heart" pButton pRipple-->
<!--        type="button"></button>-->
<!--<button class="p-button-rounded p-button-danger p-button-outlined" icon="pi pi-times" pButton pRipple-->
<!--        type="button"></button>-->

<!--<h5>Badges</h5>-->
<!--<p-button badge="9" label="Emails"></p-button>-->
<!--<p-button badge="8" badgeClass="p-badge-danger" icon="pi pi-users" label="Messages"-->
<!--          styleClass="p-button-warning"></p-button>-->

<!--<h5>Button Set</h5>-->
<!--<span class="p-buttonset">-->
<!--    <button icon="pi pi-check" label="Save" pButton pRipple></button>-->
<!--    <button icon="pi pi-trash" label="Delete" pButton pRipple></button>-->
<!--    <button icon="pi pi-times" label="Cancel" pButton pRipple></button>-->
<!--</span>-->

<!--<h5>Sizes</h5>-->
<!--<div class="sizes">-->
<!--  <p-button icon="pi pi-check" label="Small" styleClass="p-button-sm"></p-button>-->
<!--  <p-button icon="pi pi-check" label="Normal" styleClass="p-button"></p-button>-->
<!--  <p-button icon="pi pi-check" label="Large" styleClass="p-button-lg"></p-button>-->
<!--</div>-->
<!--<p-toast></p-toast>-->
<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>


