<!--<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
<p-confirmDialog header="Confirmation"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center">
    <div class="header-text-sm">
      Add User
    </div>
    <button (click)="dialogRef.close()" color="warn" mat-icon-button>
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <form (ngSubmit)="onAddUsers()" [formGroup]="addUser">

    <div class="p-float-label m-2">
      <input [ngClass]="{ 'p-invalid' : !addUser.controls['email'].valid && addUser.controls['email'].touched}"
             class="p-inputtext-sm"
             formControlName="email"
             id="email"
             pInputText type="text">
      <label for="email">Email*</label>
    </div>
    <div>
      <val-errors controlName="email" label="The email">
        <ng-template valError="required"><small class="p-invalid ms-3">The email is required</small></ng-template>
        <ng-template valError="email"><small class="p-invalid ms-3">This is not a valid email address</small>
        </ng-template>
      </val-errors>
    </div>

    <!--Referral Link-->

    <div class="p-float-label m-2">
      <input
        [ngClass]="{ 'p-invalid' : !addUser.controls['referralLink'].valid && addUser.controls['referralLink'].touched}"
        class="p-inputtext-sm"
        formControlName="referralLink"
        id="referralLink"
        pInputText type="text">
      <label for="referralLink">Referral Link*</label>
    </div>

    <div>
      <val-errors controlName="referralLink" label="The referralLink">
        <ng-template valError="required">
          <div class="container">
            <small class="p-invalid ms-3">The referral link is required</small>
          </div>
        </ng-template>
      </val-errors>
    </div>

    <!--Role Id-->
    <div class="p-float-label m-2">

      <p-dropdown
        [options]="utilityService.roles"
        [required]="true"
        formControlName="roleId"
        appendTo="body"
        optionLabel="name"
        optionValue="code"
        placeholder="User Role*"
        styleClass="p-inputtext-sm w-100"></p-dropdown>


<!--      <input [ngClass]="{ 'p-invalid' : !addUser.controls['roleId'].valid && addUser.controls['roleId'].touched}"-->
<!--             class="p-inputtext-sm"-->
<!--             formControlName="roleId"-->
<!--             id="roleId"-->
<!--             pInputText type="text">-->
<!--      <label for="roleId">Role Id*</label>-->
    </div>
    <div>
      <val-errors controlName="roleId" label="The roleId">
        <ng-template valError="required">
          <small class="p-invalid ms-3">The role is required</small>
        </ng-template>
      </val-errors>
    </div>
    <div class="text-center mt-3">
      <button class="mat-button-rounded-sm" color="primary" mat-raised-button> Add User</button>
    </div>
  </form>


</div>





