<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="padding: 150px 9vw 0 9vw">
      <h1 class="header-text">
        <b>Signup</b>
      </h1>
      <div class="scrollbar" id="style-4">
        <div class="me-2">
          <p class="text-color-01 mt-3 mb-4">Already have an account?
            <span class="text-link router-text-default" routerLink="/auth">Login.</span>
          </p>
          <app-sign-up-form></app-sign-up-form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 auth-img">
    </div>
  </div>
</div>
