<div class="container mt-5">
  <h1 class="header-text">
    <b>Users</b>
  </h1>
  <div class="mt-4 d-flex justify-content-between">
    <div>
      <button class=" btn-color-gold mat-button-padding" mat-raised-button><i class="fas fa-envelope me-2"></i>
        PUSH NOTIFICATION
      </button>
    </div>
    <div>
      <button class="mat-button-padding me-2" color="primary" mat-raised-button><i class="fas fa-users me-2"></i>
        ADD BULK USERS
      </button>
      <button class="mat-button-padding" color="primary" mat-raised-button><i class="fas fa-plus me-2"></i>
        ADD USER
      </button>
    </div>
  </div>
  <hr>
  <app-users-list></app-users-list>

</div>

