<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mt-5" style="padding: 8vw">
      <h1 class="header-text-01">
        <b>Signin</b>
      </h1>
      <p class="text-color-01 mt-4 mb-4">Log in here or are you a new user? <span class="text-link router-text-default"
                                                                                  routerLink="/sign-up">Create an Account.</span>
      </p>
      <app-sign-in-form></app-sign-in-form>
      <p class="text-link router-text-default mt-3" routerLink="">Forget Password</p>
    </div>
    <div class="col-sm-6 auth-img">
    </div>
  </div>
</div>
