<p-table
  [globalFilterFields]="['email','firstName','lastName','telephoneNumber','active','subscriptionCount','role']"
  [paginator]="true"
  [resizableColumns]="true"
  [rowsPerPageOptions]="[5,10,25,50]"
  [rows]="5"
  [value]="loadingData"
  columnResizeMode="expand"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  styleClass="mt-2 p-datatable-sm p-datatable-striped p-datatable-gridlines">
  <ng-template pTemplate="caption">
    <div class="mb-2">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input  class="p-inputtext-sm"
               matTooltip="Search from table"
               pInputText
               placeholder="Search keyword"
               type="text"/>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn style="width: 250px"> Email</th>
      <th pResizableColumn>First Name</th>
      <th pResizableColumn>Last Name</th>
      <th pResizableColumn>Contact No</th>
      <th pResizableColumn>Status</th>
      <th matTooltip="Subscription Count" pResizableColumn>Sub. Count</th>
      <th pResizableColumn>Role</th>
      <th pResizableColumn>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body">
    <tr>
      <td>
        <ngx-skeleton-loader  class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader  class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader class="mt-5"></ngx-skeleton-loader>
      </td>
      <td>
        <ngx-skeleton-loader appearance="circle" class="mt-5"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="circle" class="mt-5"></ngx-skeleton-loader>
      </td>
    </tr>
  </ng-template>
</p-table>
