


<div class="col">
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <div class="row">
        <div class="col mr-1">
          <h5 class="card-title">{{ question.question }}</h5>
        </div>
        <div class="col-2">
          <button (click)="openEditDialog()" color="primary" mat-mini-fab>
            <i class="fas fa-edit fa-xs"></i></button>
        </div>
        <div class="col-3">
          <button color="warn" mat-mini-fab>
            <i class="fas fa-trash fa-xs"></i></button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1). {{ question.answer1 }}</li>
      <li class="list-group-item">2). {{ question.answer2 }}</li>
      <li class="list-group-item">3). {{ question.answer3 }}</li>
      <li class="list-group-item">4). {{ question.answer4 }}</li>
    </ul>
    <div class="card-footer text-success">Correct Answer: No. {{ question.correctAnswer }}</div>
  </div>
</div>
