


<div class="col">
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <div class="row">
        <div class="col mr-1">
          <h5 class="card-title">{{ question.question }}</h5>
        </div>
        <div class="col-1">
          <button (click)="openEditDialog()" color="primary" mat-icon-button>
            <i class="fas fa-edit"></i></button>
        </div>
        <div class="col-2">
          <button aria-label="icon button with a delete icon" color="warn" mat-icon-button>
            <i class="fas fa-trash"></i></button>
          <!--          <button (click)="$event.preventDefault();onRemoveCurrentImageClick()"-->
          <!--                  color="warn"-->
          <!--                  mat-icon-button matTooltip="Remove Current Image" type="button">-->
          <!--            <mat-icon>delete</mat-icon>-->
          <!--          </button>-->
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1). {{ question.answer1 }}</li>
      <li class="list-group-item">2). {{ question.answer2 }}</li>
      <li class="list-group-item">3). {{ question.answer3 }}</li>
      <li class="list-group-item">4). {{ question.answer4 }}</li>
    </ul>
    <div class="card-footer text-success">Correct Answer: No. {{ question.correctAnswer }}</div>
  </div>
</div>
