div, label, span, p {
  font-family: 'Titillium Web', sans-serif;
}

// Test css
.text-color-01 {
  color: #929292;
}

.text-link {
  color: #0099FF;
  cursor: pointer;
}

.router-text-default {
  text-transform: none;
  outline: transparent !important;
}

