

// Test css
.text-color-01 {
  color: #929292;
}
.text-color-01-b {
  color: #929292;
  font-weight: bold;
}

.text-link {
  color: #0099FF;
  cursor: pointer;
}

.router-text-default {
  text-transform: none;
  outline: transparent !important;
  cursor: pointer;
}

.header-text {
  font-family: 'Samsung Sharp Sans bold', sans-serif !important;
  font-size: 2.5em !important;

}

.header-text-sm {
  font-family: 'Samsung Sharp Sans bold', sans-serif !important;
  font-size: 1.5em !important;
}


.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}



// Button
.btn-cus-lg{
  padding: 12px !important;
  border-radius: 8px !important;
}


@media screen and (max-width: 40rem) {

  .p-datatable {
    &.p-datatable-responsive-demo {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;

        .p-column-title {
          padding: .4rem;
          min-width: 30%;
          display: inline-block;
          margin: -.4em 1em -.4em -.4rem;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }

}

