<div class="container mt-5">
  <h1 class="header-text">
    <b>Subject</b>
  </h1>
  <div class="mt-4 d-flex justify-content-between">
    <!--    <button class=" mat-button-rounded-sm ms-2" color="primary" mat-raised-button>-->
    <!--      <i class="fas fa-plus me-2"></i>-->
    <!--      ADD USER-->
    <!--    </button>-->
  </div>
  <hr>
  <div class="row g-2">
    <div class="col-sm-3 profile-border">
      <app-add-subject></app-add-subject>
    </div>
    <div class="col-sm-9 profile-border">
      <app-subject-list></app-subject-list>
    </div>
  </div>
</div>





