<p-table #dt [globalFilterFields]="['image','name']" [loading]="loading"
         [paginator]="true"
         [rowsPerPageOptions]="[10,25,50]"
         [rows]="10"
         [showCurrentPageReport]="true"
         [value]="subjects"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         styleClass="p-datatable-sm p-datatable-responsive-demo">

  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>

        <input (input)="dt.filterGlobal(searchInputData, 'contains')"
               [(ngModel)]="searchInputData" class="p-inputtext-sm"
               matTooltip="Search from table"
               pInputText
               placeholder="Search keyword"
               type="text"/>
      </div>
      <!--      <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>-->
      <!--      <button mat-icon-button color="primary" (click)="op.toggle($event)">-->
      <!--        <mat-icon>filter_alt</mat-icon>-->
      <!--      </button>-->


    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        Image
        <!--        <p-columnFilter type="text" field="image" display="menu"></p-columnFilter>-->
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Email-->
        <!--          <p-columnFilter display="menu" field="email" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Name
        <!--        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>-->
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          First Name-->
        <!--          <p-columnFilter display="menu" field="firstName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
    </tr>
  </ng-template>
  <ng-template let-subject pTemplate="body">
    <tr>
      <td><img alt="" class="img-fluid" height="50px" src="{{subject.image}}" width="50px"></td>
      <td>{{subject.name}}</td>
      <td>
        <button (click)="openSubjectViewDialog(subject)"
                class="me-2"
                color="primary"
                mat-mini-fab><i class="fas fa-edit"></i></button>

        <!--        <button (click)="openUserViewDialog(user.id)" color="warn" mat-mini-fab><i class="fas fa-trash"></i></button>-->
      </td>
    </tr>
  </ng-template>
</p-table>




