<form (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
  <mat-label class="text-color-01-b">First Name</mat-label>
  <mat-form-field floatLabel="never">
    <input formControlName="firstName"
           matInput
           placeholder="Nuwan"
           type="text"
    >
    <mat-error *ngIf="signUpForm.controls['firstName'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Last Name</mat-label>
  <mat-form-field floatLabel="never">
    <input formControlName="lastName"
           matInput
           placeholder="Kumara"
           type="text"
    >
    <mat-error *ngIf="signUpForm.controls['lastName'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Phone Number</mat-label>
  <mat-form-field floatLabel="never">
    <input formControlName="telephoneNumber"
           matInput
           placeholder="07x xxx xxx xx"
           type="text"
    >
    <mat-error *ngIf="signUpForm.controls['telephoneNumber'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Birthday</mat-label>
  <mat-form-field floatLabel="never">
    <mat-hint>Select your birthday</mat-hint>
    <input [matDatepicker]="picker" formControlName="birthDay" matInput placeholder="01/01/2000">
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="signUpForm.controls['birthDay'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Email</mat-label>
  <mat-form-field floatLabel="never">
    <input formControlName="email"
           matInput
           placeholder="example@example.com"
           type="text"
    >
    <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">This is the not a valid email</mat-error>
    <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">School</mat-label>
  <mat-form-field floatLabel="never">
    <input formControlName="school"
           matInput
           placeholder="Ananda College"
           type="text"
    >
    <mat-error *ngIf="signUpForm.controls['school'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">District</mat-label>
  <mat-form-field floatLabel="never">
    <mat-select formControlName="district" placeholder="Colombo">
      <mat-option value="Ampara">Ampara</mat-option>
      <mat-option value="Anuradhapura">Anuradhapura</mat-option>
      <mat-option value="Badulla">Badulla</mat-option>
      <mat-option value="Batticaloa">Batticaloa</mat-option>
      <mat-option value="Colombo">Colombo</mat-option>
      <mat-option value="Galle">Galle</mat-option>
      <mat-option value="Gampaha">Gampaha</mat-option>
      <mat-option value="Hambantota">Hambantota</mat-option>
      <mat-option value="Jaffna">Jaffna</mat-option>
      <mat-option value="Kalutara">Kalutara</mat-option>
      <mat-option value="Kandy">Kandy</mat-option>
      <mat-option value="Kegalle">Kegalle</mat-option>
      <mat-option value="Kilinochchi">Kilinochchi</mat-option>
      <mat-option value="Kurunegala">Kurunegala</mat-option>
      <mat-option value="Mannar">Mannar</mat-option>
      <mat-option value="Matale">Matale</mat-option>
      <mat-option value="Matara">Matara</mat-option>
      <mat-option value="Moneragala">Moneragala</mat-option>
      <mat-option value="Mullaitivu">Mullaitivu</mat-option>
      <mat-option value="Nuwara Eliya">Nuwara Eliya</mat-option>
      <mat-option value="Polonnaruwa">Polonnaruwa</mat-option>
      <mat-option value="Puttalam">Puttalam</mat-option>
      <mat-option value="Ratnapura">Ratnapura</mat-option>
      <mat-option value="Trincomalee">Trincomalee</mat-option>
      <mat-option value="Vavuniya">Vavuniya</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label class="text-color-01-b">ReferralLink</mat-label>
  <mat-form-field floatLabel="never">
    <mat-hint>Please add your referral link</mat-hint>
    <input formControlName="referralLink"
           matInput
           placeholder="LQkctDs5fZsyjZubSU2pRJvyydnpXcaHZyeF4cYAQ46uwHvsRQSSJN3Gtg5FNYKyvNEYvV5Yj"
           type="text"
    >
    <mat-error *ngIf="signUpForm.controls['referralLink'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <button class="mat-button-rounded-sm w-100 mt-3" color="primary" mat-raised-button>SUBMIT</button>
</form>
