
<form (ngSubmit)="onSignUp()" [formGroup]="signUpForm">

<!--  <mat-label class="text-color-01-b">Email Address</mat-label>-->
<!--  <mat-form-field appearance="outline" floatLabel="never" class="mt-1">-->
<!--    <mat-icon matPrefix class="me-1 text-color-01">person</mat-icon>-->
<!--    <input formControlName="username" placeholder="example@gmail.com" matInput>-->
<!--    <mat-error *ngIf="signUpForm.controls['username'].hasError('email')">This is the not a valid email</mat-error>-->
<!--    <mat-error *ngIf="signUpForm.controls['username'].hasError('required')">Required</mat-error>-->
<!--  </mat-form-field>-->


  <mat-label class="text-color-01-b">First Name</mat-label>
  <mat-form-field appearance="outline" class="mt-1" >
    <mat-label>Enter First Name</mat-label>
    <input matInput
           type="text"
           formControlName="firstName"
    >
    <mat-error *ngIf="signUpForm.controls['firstName'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Last Name</mat-label>
  <mat-form-field appearance="outline" class="mt-1" >
    <mat-label>Enter Last Name</mat-label>
    <input matInput
           type="text"
           formControlName="lastName"
    >
    <mat-error *ngIf="signUpForm.controls['lastName'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Phone Number</mat-label>
  <mat-form-field appearance="outline" class="mt-1" >
    <mat-label>Enter Phone No</mat-label>
    <input matInput
           type="text"
           formControlName="telephoneNumber"
    >
    <mat-error *ngIf="signUpForm.controls['telephoneNumber'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Birthday</mat-label>
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Enter Birthday</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDay">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="signUpForm.controls['birthDay'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">Email</mat-label>
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Enter Email address</mat-label>
    <input matInput
           type="text"
           formControlName="email"
    >
    <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">This is the not a valid email</mat-error>
    <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">School</mat-label>
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Enter School</mat-label>
    <input matInput
           type="text"
           formControlName="school"
    >
    <mat-error *ngIf="signUpForm.controls['school'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-label class="text-color-01-b">District</mat-label>
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Enter District</mat-label>
    <mat-select formControlName="district">
      <mat-option value="Ampara">Ampara</mat-option>
      <mat-option value="Anuradhapura">Anuradhapura</mat-option>
      <mat-option value="Badulla">Badulla</mat-option>
      <mat-option value="Batticaloa">Batticaloa</mat-option>
      <mat-option value="Colombo">Colombo</mat-option>
      <mat-option value="Galle">Galle</mat-option>
      <mat-option value="Gampaha">Gampaha</mat-option>
      <mat-option value="Hambantota">Hambantota</mat-option>
      <mat-option value="Jaffna">Jaffna</mat-option>
      <mat-option value="Kalutara">Kalutara</mat-option>
      <mat-option value="Kandy">Kandy</mat-option>
      <mat-option value="Kegalle">Kegalle</mat-option>
      <mat-option value="Kilinochchi">Kilinochchi</mat-option>
      <mat-option value="Kurunegala">Kurunegala</mat-option>
      <mat-option value="Mannar">Mannar</mat-option>
      <mat-option value="Matale">Matale</mat-option>
      <mat-option value="Matara">Matara</mat-option>
      <mat-option value="Moneragala">Moneragala</mat-option>
      <mat-option value="Mullaitivu">Mullaitivu</mat-option>
      <mat-option value="Nuwara Eliya">Nuwara Eliya</mat-option>
      <mat-option value="Polonnaruwa">Polonnaruwa</mat-option>
      <mat-option value="Puttalam">Puttalam</mat-option>
      <mat-option value="Ratnapura">Ratnapura</mat-option>
      <mat-option value="Trincomalee">Trincomalee</mat-option>
      <mat-option value="Vavuniya">Vavuniya</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label class="text-color-01-b">ReferralLink</mat-label>
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Enter referralLink</mat-label>
    <input matInput
           type="text"
           formControlName="referralLink"
    >
    <mat-error *ngIf="signUpForm.controls['referralLink'].hasError('required')">Required</mat-error>
  </mat-form-field>

  <button class="btn-cus-lg w-100 mt-3" mat-raised-button color="primary">SUBMIT</button>
</form>
