<div class="container">
  <h1 class="header-text">
    <b> Watch History</b>
  </h1>
</div>

<div *ngIf="contents.length <= 0">
  <div class="text-center"
       matRipple
       matTooltip="No data found click to go back home"
       routerLink="/private/user-details/profile"
       style="cursor: pointer;outline: none">
    <lib-no-data-found></lib-no-data-found>
  </div>

</div>
<div class="container mt-5">
  <div class="row">
    <app-user-watch-history-item *ngFor="let content of contents"
                                 [content]="content"
                                 class="col-sm-12 col-md-4">
    </app-user-watch-history-item>
  </div>
</div>
