<div class="container">
  <div class="row">
    <div class="col-sm-5 text-center">
      <img alt="{{bookContent.book.name}}"
           src="{{bookContent.book.image}}"
           mat-card-image
           style="height: 40%">
    </div>
    <div class="col-sm-7">
      <p style="font-size: larger; font-weight: bold">
        {{bookContent.book.image}}
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <app-video-item *ngFor="let video of bookContent.contents"
                    [video]="video"
                    class="col-sm-4">
    </app-video-item>
  </div>
</div>
