<p-confirmDialog header="Confirmation"
                 key="book-delete"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-table #dt1 [globalFilterFields]="['grade','medium','name','price','subject']" [loading]="loading"
         [paginator]="true"
         [rowsPerPageOptions]="[10,25,50]"
         [rows]="10"
         [showCurrentPageReport]="true"
         [value]="books"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         styleClass="p-datatable-sm p-datatable-responsive-demo">

  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input (input)="dt1.filterGlobal(searchInputData, 'contains')"
               [(ngModel)]="searchInputData" class="p-inputtext-sm"
               matTooltip="Search from table"
               pInputText
               placeholder="Search keyword"
               type="text"/>
      </div>
      <!--      <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>-->
      <!--      <button mat-icon-button color="primary" (click)="op.toggle($event)">-->
      <!--        <mat-icon>filter_alt</mat-icon>-->
      <!--      </button>-->


    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        Image
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Email-->
        <!--          <p-columnFilter display="menu" field="email" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Grade
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          First Name-->
        <!--          <p-columnFilter display="menu" field="firstName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Medium
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Last Name-->
        <!--          <p-columnFilter display="menu" field="lastName" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Name
        <!--        <div class="p-d-flex p-jc-between p-ai-center">-->
        <!--          Contact No-->
        <!--          <p-columnFilter display="menu" field="telephoneNumber" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Price
        <!--        <div class="p-d-flex p-jc-between p-ai-center" matTooltip="User active status">-->
        <!--          Status-->
        <!--          <p-columnFilter display="menu" field="active" type="text"></p-columnFilter>-->
        <!--        </div>-->
      </th>
      <th>
        Subject
        <!--        <div class="p-d-flex p-jc-between p-ai-center" matTooltip="Subscription Count">-->
        <!--          Sub. Count-->
        <!--          <p-columnFilter display="menu" field="subscriptionCount" type="number"></p-columnFilter>-->
        <!--        </div>-->
      </th>
    </tr>
  </ng-template>
  <ng-template let-book pTemplate="body">
    <tr>
      <td>
        <img alt="" class="img-fluid" height="100px" src="{{ book.image }}" width="100px">
      </td>
      <td>Grade {{ book.grade }}</td>
      <td>{{ book.medium }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.price }}.00/=</td>
      <td>{{ book.subject }}</td>
      <td>
        <button (click)="openBookEditViewDialog(book)"
                class="me-2"
                color="primary"
                mat-mini-fab><i class="fas fa-edit"></i></button>

        <button (click)="onDelete(book.id)" color="warn" mat-mini-fab><i class="fas fa-trash"></i></button>
      </td>
    </tr>
  </ng-template>
</p-table>




