<div class="p-float-label mt-2">
  <input type="text" id="subjectName"
         [ngClass]="{ 'p-invalid' : subjectName == ''}"
         [(ngModel)]="subjectName"
         class="p-inputtext-sm" pInputText style="width: 100%">
  <label for="subjectName">Subject Name*</label>
</div>
<small class="p-invalid ms-3">The Subject Name is required</small>

<fieldset class="form-group mt-2 image-size">
  <label class="mb-2"><b>Upload Logo *</b></label>
  {{imageError}}
  <div class="custom-file fileInputProfileWrap ">
    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
    <div class="img-space">
      <ng-container *ngIf="isImageSaved; else elseTemplate">
        <img [src]="cardImageBase64" alt="selected image" class="img-fluid" />
      </ng-container>
      <ng-template #elseTemplate>
        <img src="assets/img/placeholder.jpg" alt="placeholder"  class="img-fluid">
      </ng-template>

    </div>

  </div>
</fieldset>


<div class="d-flex justify-content-end">
  <button mat-raised-button color="warn"
          class="mat-button-rounded-sm mt-2" (click)="$event.preventDefault();removeImage()"
          *ngIf="isImageSaved">
    Remove</button>
</div>



<!--<div class="p-float-label mt-2">-->
<!--  <input type="text" id="subjectImg"-->
<!--         class="p-inputtext-sm"-->
<!--         [(ngModel)]="subjectImg"-->
<!--         [ngClass]="{ 'p-invalid' : subjectImg == ''}"-->
<!--         pInputText>-->
<!--  <label for="subjectImg">Image *</label>-->
<!--</div>-->
<!--<small class="p-invalid ms-3">The Subject Name is required</small>-->

<button mat-raised-button color="primary" class="mat-button-rounded-sm mt-3" style="width: 100%;"
        [disabled]="cardImageBase64 == '' || subjectName == ''"  (click)="onSubmitImg()">submit </button>



